.container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 600px;
    justify-content: right;
    margin-bottom: 0px;
    height: calc(100vh - 188px);
}
.header {
    display: inline-flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    line-height: 40px;
    font-size: 36px;
    margin: 40px 0 20px;
}
.section {
    display: inline-flex;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.tab {
    display: inline-flex;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 522px);
}
.topcards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
    width: 536px;
    margin-right: 16px;
    margin-bottom: 16px;
}
.clist {
    display: flex;
}
.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 90px;
    margin-right: 16px;
}
.element {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 568px;
    margin-right: 8px;
}
.cards::-webkit-scrollbar {
    width: 8px;
}
.cards::-webkit-scrollbar-track {
    background: #2f2f37;
}
.cards::-webkit-scrollbar-thumb {
    background: #8585ad;
}
