.order_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0px 0px 120px;
}
.card_box {
    max-width: 120px;
    min-width: 120px;
}
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 272px;
}
.card_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.img {
    max-width: fit-content;
    object-fit: contain;
    align-self: center;
}
.icon {
    max-width: max-content;
    width: 120px;
    height: 120px;
    object-fit: fill;
    align-self: center;
    margin-bottom: 16px;
}
