.card_text {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 16px 0px 32px;
}
.card_calories {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    color: #8585ad;
    gap: 20px;
    margin-bottom: 60px;
}
.card_box {
    max-width: 120px;
    min-width: 120px;
}
.card {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 272px;
}
.card_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.img {
    max-width: fit-content;
    object-fit: contain;
    align-self: center;
}
